[Desktop Entry]
Type=Service
Icon=gpg
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=decrypt;
Encoding=UTF-8

[Desktop Action decrypt]
Name=Unmount Decrypted Directory
Icon=gpg
Exec=$HOME/.local/share/kservices5/ServiceMenus/directory_gocryptfs_utils/unmount_decrypted_mount.sh
